<% layout("/Layouts/boilerplate") %>

    <body>
        <section class="container mx-auto py-12 px-4">
            <h1 class="text-4xl font-bold text-center text-[#159ccb] mb-6">Patient Registration</h1>
            <form action="/patient/login" method="post" class="bg-white shadow-md rounded-lg p-8 space-y-6 max-w-lg mx-auto">
                <div>
                    <label class="block text-lg font-medium mb-2" for="name">Username</label>
                    <input type="text" id="name" placeholder="Enter your username"
                        class="w-full border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-[#159ccb]"
                        required name="username"/>
                </div>
                <div>
                    <label class="block text-lg font-medium mb-2" for="email">Password</label>
                    <input type="password" id="email" placeholder="Enter your password"
                        class="w-full border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-[#159ccb]"
                        required name="password"/>
                </div>
                <button class="w-full bg-[#159ccb] text-white py-3 rounded-lg hover:bg-blue-600 transition">
                    Log in
                </button>
            </form>
        </section>

    </body>